/* You can add global styles to this file, and also import other style files */
:root {
  --padding: 15px;

  --cinza: #405040;
  --cinza-claro: #DEDEDE;
  --primary: #369C38;
  --secondary: #132A13;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}
